$primary-color: #080813;

.contact-page {
  h1 {
    font-size: 4.2rem;
    margin: 0;
  }

  h2 {
    font-size: 1.7rem;
    font-weight: 300;
    margin: 0;
  }

  .im-here {
    width: 70%;
    height: 75%;
  }

  .talk-to-me {
    position: fixed;
    right: 0;
    bottom: 0;

    padding: 4% 3%;
    width: 30%;
    height: 75%;
    background: $primary-color;
    color: #FFF;
  }
}