$primary-color: #080813;

.contact-form {
  margin-top: 5%;
  width: 75%;

  form {
    display: flex;
    flex-flow: column;
    
    label, input, textarea {
      font-family: inherit;    
      display: block;
      border: none;
      font-size: 1.2rem;
      width: 50%;
      outline: none;
    }

    label {
      font-size: 1rem;
    }
    
    input {
      margin: 1% 0 3% 0;
      border: 1px dashed $primary-color;
      padding: 5px;
    }

    textarea {
      border: 1px dashed $primary-color;
      resize: none;
      width: 100%;
      height: calc(1.2rem * 6);
      margin: 2% 0 8% 0;
    }

    button {
      display: inline-block;
      font-family: inherit;
      font-size: 1.7rem;
      text-align: center;
      line-height: 50px;

      width: 251px;
      height: 50px;
      cursor: pointer;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      background-color: $primary-color;
      border: 1px solid $primary-color;
      color: #FFF;
      transition: .2s;
    }

    button:hover {
      width: 300px;
    }

    button:active {
      background-color: #fff;
      color: $primary-color;
    }

  }
  footer {
    margin-top: 18px;
  }
}