@import url('https://fonts.googleapis.com/css?family=GFS+Didot|Montserrat:300,600');

$primary-color: #080813;

.App {
  font-family: 'Montserrat', sans-serif;
  color: $primary-color;
  margin: 0 10%; 
}

@media (max-width: 1440px) //Large laptop
{
  .App {
    margin: 0 5%;
  } 
}

@media (max-width: 768px) //Tablet
{
  .App {
    margin: 0;
  }
}