ul {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 0;
  padding: 1%;
  font-size: 1.3rem;

  .brand {
    font-weight: 600;
  }

  .navigation {
    display: flex;
    flex-flow: row;
    margin: 0 -15px;
    li {
      padding: 0 15px;
    }
  }

  li {
    list-style-type: none;
    a {
      color: inherit;
      text-decoration: none;
    }
    a:hover {
      font-weight: 600;
    }
  }
}